.app {
  position: relative;
  overflow-x: hidden;
  padding-top: 70px;
  max-height: calc(100vh - 70px);
  scroll-behavior: smooth;
}

.pageContent {
  max-width: 100vw;
  min-height: 100vh;
  animation: fadeIn 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}